<nav class="navbar is-dark" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/images/logo.png" width="112" height="28">
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a routerLink="/" class="navbar-item is-capitalized">home</a>
      <a routerLink="/contact" class="navbar-item is-capitalized">contact</a>
      <a routerLink="/users" class="navbar-item is-capitalized">users</a>
    </div>
  </div>
</nav>
