<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-uppercase">contact us</h1>
    </div>
  </div>
</section>

<!-- form -->
<section class="section">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="label is-capitalized" for="name">name</label>
        <input class="input" type="text" id="name" name="name" formControlName="name">
        <div class="help is-error" *ngIf="form.get('name').invalid && form.get('name').touched">your name is required</div>
      </div>
      <div class="field">
        <label class="label is-capitalized" for="email">email</label>
        <input class="input" type="text" id="email" name="email" formControlName="email">
        <div class="help is-error" *ngIf="form.get('email').invalid && form.get('email').touched">your email is required</div>
      </div>
      <div class="field">
        <label class="label is-capitalized" for="message">message</label>
        <textarea class="textarea" name="message" id="message" cols="30" rows="10" formControlName="message"></textarea>
      </div>
      <button class="button is-large is-warning is-capitalized" type="submit" [disabled]="form.invalid">send</button>
    </form>
  </div>
</section>
